@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
}

body, main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.root-container {
  @apply p-5 max-w-sm py-8;
}

main {
  @apply h-full;
}

[data-overlay-container=true] {
  @apply w-full h-full flex justify-center;
}

.oa-background {
  @apply bg-gradient-to-r from-violet-800 to-indigo-800;
  /* @apply bg-gradient-to-r from-violet-600 to-indigo-600; */
  @apply bg-gradient-to-bl from-gray-700 via-gray-900 to-black;
}

.oa-shelf-left {
  width: 23px;
  height: 14px;
  background-position: bottom left;
  background-image: url('/svgs/left-shelf.svg');
}

.oa-shelf-middle {
  height: 14px;
  repeat-x: 100%;
  background-image: url('/svgs/middle-shelf.svg');
}

.oa-shelf-right {
  width: 23px;
  height: 14px;
  background-image: url('/svgs/right-shelf.svg');
}

.oa-result {
  width: 100%;
  aspect-ratio: 1/1.414;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/assets/result0.png');
}

.oa-textarea:hover {
  @apply border-white;
}